body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  
}

.header {
  height: 72px;
  display: flex;
  justify-content: space-between;
  
}
.underHeader {
  padding-top: 15px;
  justify-self: flex-start;
  color: #f9faf8;
  font-size: 24px;
  font-weight: 900;
  padding-left: 16px;
  
}

.ulUnderHeader {
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
  padding-right: 40px;
  flex-wrap: wrap;
}
 
a , .paragraphBody {
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
}

ul {
  list-style: none;
}




.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  
}

.Box1 ,.footer {
  background: #1f2937;
}

.Box1 {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}
.footer {
  text-align: center;
}

.Box3 {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 5%;
}

.main {
  display: flex;
  flex-direction: row;
  width: auto;
  gap: 6px;
}

.underMainLeftBox {
  display: flex;
  flex-direction: column;
}

.paragraphTitle {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

button {
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  box-shadow: none;
  font-weight: bolder;
  color: #f9faf8;
  font-size: 24px;
  padding: 2%;
  background-color: #3882F6;
  height: 50px;
  width:  160px;
  border: none;
  flex-shrink: 0;
}


.underMainRightBox {
  display: flex;
  justify-content: center;
  
  min-width: 50%;
  background-color: #6d747d;
  text-align: center;
  align-items: center;
  color: #f9faf8;
  margin-top: 70px;
  
}


.Box2 {
  display: flex;
  flex-direction: column;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 5%;
}

.Box4 {
  
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}
.underBox2First {
  font-size: 36px;
  color: #1f2937;
  font-weight: bolder;
  text-align: center;
}

.underBox2SecondCard {
  min-width: 150px;
  min-height: 150px;
  
  
  flex-wrap: wrap;
  
  
  
  flex-direction: column;
  display: flex;
  align-self: baseline;

}

.Image {
  min-width: 97%;
  min-height: 150px;
  
  flex-grow: 1;
  background-color: #f9faf8;
  
  border:3px solid;
  border-radius: 10px;
  border-color:  #3882F6; ;
}

.underBox2Second {
  display: flex;
  flex-direction: row;
  min-height: 300px;
  min-width: auto;
  flex-wrap: wrap;
  justify-content: space-around; 
  flex: 1;
  padding-top: 10%;
  padding-bottom: 10%;
}

.paragraphUnderImage {
  align-self: self-start;
  width: 150px;
  margin: 5%;
  margin-bottom: 7%;
  text-align: center;
}
.Signature {
  display: flex;
  justify-content: flex-end;
}

.underBox3 {
  font-style:36px ;
  font-style: italic;
  
}

.quote {
  justify-self: flex-end;
  
}

.Signature {
  font-style: normal;
  font-weight: bold;
}

.underBox4 {
  background-color: #3882F6;
  min-height: 120px;
  border-radius: 10px;
  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
}

.underBox4Left{
  padding-top: 3%;
  width: 70%;
  display: flex;
  flex-direction: column;
  
}
.underBox4Left .paragraphTitle {
  font-size: 24px;
  padding-bottom: 1%;
}

.underBox4Left .paragraphBody {
  font-size: 15px;
}


.underBox4Right {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: center;
}
.underBox4Right button {
  border: #e5e7eb solid;
  font-size: 20px;
  height: 50px;
  width:  160px;
}